@import "tailwindcss";

@theme {
  --color-primary: #0C324A;
  --color-primary-light: #1a4a6e;
  --color-secondary: #FEF1D5;
  --color-accent: #679CBC;
  --color-accent-light: #8db8d4;

  --color-kayla-dark: #1F4E79;
  --color-kayla-blue: #2E75B6;
}
